.background {
  background-color: #090909;
}

#header {
  font-family: "Syne Mono", monospace;
}

form {
  font-family: "Syne", sans-serif;
}

#search-form label {
  color: #000;
}

#search-form input[type="text"]:focus + label {
  color: #000;
}

#search-form input[type="text"]:focus {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 #000;
}

.items-row {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-between;
}

.card {
  margin: 10px;
  max-height: 400px;
  max-width: 200px;
}

.poster {
  max-height: 250px;
  height: 250px;
  width: 100px;
  min-width: 150px;
  border-radius: 2px;
}

#favorites {
  font-family: "Syne", monospace;
}

#favorites .card {
  border: 1px solid red;
}
